body{
    font: 20px, Arial, sans-serif;
}

.navbar{
    background-color: greenyellow;
}

.quem-somos{
    background-color: hotpink;
    color: white;
}

.margin{
    padding-bottom: 30px;
    padding-top: 20px;
}

.parceiros{
    background-color: turquoise;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}